/* style.css */

* {
  font-family: JetBrains Mono NerdFont;
  font-size: 12px;
  border: none;
  border-radius: 0px;
  min-height: 0px;
  padding: 0 5px;
}

window#waybar {
  background: rgba(0,0,0,0);
}

.modules-center {
  padding: 2px;
  border-radius: 1rem;
}

#custom-startmenu {
  color: #000000;
  background: #7287fd;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

#custom-logout {
  color: #000000;
  background: #e64553;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

@keyframes blink {
  to {
    color: #000000;
    background: #ffffff;
  }
}

#clock {
  color: #000000;
  background: #c6a0f6;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

#taskbar {
  margin: 0rem;
  background: #fab387;
  padding: 0rem 0.5rem 0rem 0rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;       
}

#taskbar button {
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

#disk {
  color: #000000;
  background: #8caaee;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

#memory {
  color: #000000;
  background: #81c8be;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

#cpu {
  color: #000000;
  background: #a6d189;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

#pulseaudio {
  color: #000000;
  background: #e5c890;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

#network {
  color: #000000;
  background: #f38ba8;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

#privacy {
  color: #000000;
  background: #ea999c;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}

#backlight {
  color: #000000;
  background: #fab387;
  margin: 3px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px 15px 15px 15px;
}
