///// Palettes /////
// Catpuccin Latte
$latte_crust: "#dce0e8";
$latte_mantle: "#e6e9ef";
$latte_base: "#eff1f5";
$latte_surface0: "#ccd0da";
$latte_surface1: "#bcc0cc";
$latte_surface2: "#acb0be";
$latte_overlay0: "#9ca0b0";
$latte_overlay1: "#8c8fa1";
$latte_overlay2: "#7c7f93";
$latte_subtext0: "#6c6f85";
$latte_subtext1: "#5c5f77";
$latte_text: "#4c4f69";
$latte_lavender: "#7287fd";
$latte_blue: "#1e66f5";
$latte_sapphire: "#209fb5";
$latte_sky: "#04a5e5";
$latte_teal: "#179299";
$latte_green: "#40a02b";
$latte_yellow: "#df8e1d";
$latte_peach: "#fe640b";
$latte_maroon: "#e64553";
$latte_red: "#d20f39";
$latte_muave: "#8839ef";
$latte_pink: "#ea76cb";
$latte_flamingo: "#dd7878";
$latte_rosewater: "#dc8a78";
// Catpuccin Mocha
$mocha_crust: "#11111b";
$mocha_mantle: "#181825";
$mocha_base: "#1e1e2e";
$mocha_surface0: "#313244";
$mocha_surface1: "#45475a";
$mocha_surface2: "#585b70";
$mocha_overlay0: "#6c7086";
$mocha_overlay1: "#7f849c";
$mocha_overlay2: "#9399b2";
$mocha_subtext0: "#a6adc8";
$mocha_subtext1: "#bac2de";
$mocha_text: "#cdd6f4";
$mocha_lavender: "#b4befe";
$mocha_blue: "#89b4fa";
$mocha_sapphire: "#74c7ec";
$mocha_sky: "#89dceb";
$mocha_teal: "#94e2d5";
$mocha_green: "#a6e3a1";
$mocha_yellow: "#f9e2af";
$mocha_peach: "#fab387";
$mocha_maroon: "#eba0ac";
$mocha_red: "#f38ba8";
$mocha_muave: "#cba6f7";
$mocha_pink: "#f5c2e7";
$mocha_flamingo: "#f2cdcd";
$mocha_rosewater: "#f5e0dc";
// Dracula
$dracula_background: "#282A36";
$dracula_current-line: "#44475A";
$dracula_foreground: "#F8F8F2";
$dracula_comment: "#6272A4";
$dracula_cyan: "#8BE9FD";
$dracula_green: "#50FA7B";
$dracula_orange: "#FFB86C";
$dracula_pink: "#FF79C6";
$dracula_purple: "#BD93F9";
$dracula_red: "#FF5555";
$dracula_yellow: "#F1FA8C";
// Psycahdelic
$psych_vermillion: "#ff3c00";
$psych_blaze-orange: "#ff6e00";
$psych_gold: "#ffd500";
$psych_spring-green: "#00e677";
$psych_azure: "#00aeff";
// Cyberpunk
$cyber_green: "#00ff9f";
$cyber_sky-blue: "#00b8ff";
$cyber_ocean-blue: "#001eff";
$cyber_fuchsia: "#bd00ff";
$cyber_pink: "#d600ff";
